<div class="message-container">
    <div class="card" *ngIf="(messagesService.messageThread$ | async) as messageThread">
        <div class="card-body">
            <div *ngIf="messageThread.length === 0">
                Không có tin nhắn. Hãy bắt đầu cuộc trò chuyện bằng cách nhắn 'Hi'
            </div>

            <div *ngIf="messageThread.length > 0">
                <div 
                    *ngFor="let message of messageThread" 
                    [ngClass]="{'message-right': message.senderId !== recipientId, 'message-left': message.senderId === recipientId}"
                >
                    <img
                        class="rounded-circle"
                        src="{{message.senderImageUrl || './assets/images/user.png'}}"
                        alt="{{message.senderNickName}}"
                    />
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span>đã gửi {{message.messageSent | timeago}} trước</span>
                                <span 
                                    class="text-danger" 
                                    *ngIf="!message.dateRead && message.senderId !== recipientId"
                                >
                                    (chưa đọc)
                                </span>
                                <span 
                                    class="text-success"
                                    *ngIf="message.dateRead && message.senderId !== recipientId"
                                >
                                    (đã đọc {{message.dateRead | timeago}} trước)
                                </span>
                            </small>
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" autocomplete="off">
                <div class="input-group">
                    <input 
                        type="text" 
                        class="form-control input-sm"
                        formControlName="content"
                    />
                    <div class="input-group-append">
                        <button 
                            class="btn btn-primary" 
                            type="submit"
                            [disabled]="messageForm.invalid"
                        >
                            Gửi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>