<div class="card mb-4" *ngIf="user">
    <div class="card-img-wrapper" routerLink="/home/{{user.userName}}">
        <img 
            src="{{user.profilePictureUrl  || './assets/images/user.png'}}" 
            alt="{{user.nickname}}"
            class="card-img-top"
        />
    </div>
    <div class="card-body p-0">
        <div class="mb-2">
            <h5 class="card-title text-center mb-1" routerLink="/home/{{user.userName}}">
                <i class="fa fa-user me-1"></i>{{user.nickname}}
            </h5>
            <p class="card-text text-muted text-center">Địa chỉ: {{user.city}}</p>
        </div>
        <div class="d-flex justify-content-around mb-1">
            <button class="btn btn-info" routerLink="/home/{{user.userName}}">
                <fa-icon [icon]="faUser"></fa-icon>
            </button>
            <button 
                class="btn" 
                [ngClass]="{'btn-info': !isUserLiked(user), 'btn-warning': isUserLiked(user)}"
                (click)="updateLike(user)"
            >
                <fa-icon [icon]="faHeart"></fa-icon>
            </button>
            <button 
                class="btn btn-info"
                routerLink="/home/{{user.userName}}"
                [queryParams]="{tab: 4}"
            >
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </button>
        </div>
    </div>
</div>