<div class="row" *ngIf="users">
    <table class="table ">
        <thead>
            <tr>
                <th style="width: 30%;">Tên đăng nhập</th>
                <th style="width: 30%;">Vai trò</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.userName}}</td>
                <td>{{user.roles}}</td>
                <td>
                    <button class="btn btn-outline-info" (click)="openRolesModal(user)">Chỉnh sửa vai trò</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>