<div class="text-center mt-3" *ngIf="userLikes">
    <h2>{{appUserLikeParams.predicate === 'liked' ? 'Những người bạn đã thích' : 'Những người đã thích bạn'}}</h2>

    <div class="mt-3">
        <div class="d-flex justify-content-around">
            <button class="btn btn-outline-primary" (click)="getUserLikes()">
                Những người bạn đã thích
            </button>
            <button class="btn btn-outline-primary" (click)="getLikedByOthers()">
                Những người đã thích bạn
            </button>
        </div>

        <div class="mt-3">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6" *ngFor="let user of userLikes">
                    <div class="card mb-4" *ngIf="user">
                        <div class="card-img-wrapper" routerLink="/home/{{user.userName}}">
                            <img 
                                src="{{user.profilePictureUrl  || './assets/images/user.png'}}" 
                                alt="{{user.nickname}}"
                                class="card-img-top" />
                        </div>
                        <div class="card-body p-0">
                            <div class="mb-2">
                                <h5 class="card-title text-center mb-1" routerLink="/home/{{user.userName}}">
                                    <i class="fa fa-user me-1"></i>{{user.nickname}}
                                </h5>
                                <p class="card-text text-muted text-center">Địa chỉ: {{user.city}}</p>
                            </div>
                            <div class="d-flex justify-content-around mb-1">
                                <button class="btn btn-info" routerLink="/home/{{user.userName}}">
                                    <fa-icon [icon]="faUser"></fa-icon>
                                </button>
                                <button 
                                    class="btn btn-info"
                                    routerLink="/home/{{user.userName}}"
                                    [queryParams]="{tab: 4}"
                                >
                                    <fa-icon [icon]="faEnvelope"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-paging-footer
        [totalRecords]="totalRecords"
        [itemPerPage]="appUserLikeParams.pageSize"
        (pageEventEmitter)="onPageChanged($event)">
    </app-paging-footer>
</div>