<div class="card" *ngIf="messages">
    <div class="card-body">
        <div *ngIf="messages.length === 0">
            Không có tin nhắn. Hãy bắt đầu cuộc trò chuyện bằng cách nhắn 'Hi'
        </div>

        <ul *ngIf="messages.length > 0">
            <li *ngFor="let message of messages">
                <div class="">
                    <img
                        class="rounded-circle"
                        src="{{message.senderImageUrl || './assets/images/user.png'}}"
                        alt="{{message.senderUserName}}"
                    />
                </div>
                <div class="chat-body">
                    <div class="header">
                        <small class="text-muted">
                            <span>đã gửi {{message.messageSent | timeago}} trước</span>
                            <span 
                                class="text-danger" 
                                *ngIf="!message.dateRead && message.senderId !== userId"
                            >
                                (chưa đọc)
                            </span>
                            <span 
                                class="text-success" 
                                *ngIf="message.dateRead && message.senderId !== userId"
                            >
                                (đã đọc {{message.dateRead | timeago}} trước)
                            </span>
                        </small>
                        <div>
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form>
            <div class="input-group">
                <input type="text" class="form-control input-sm" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Gửi</button>
                </div>
            </div>
        </form>
    </div>
</div>