<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
        <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
            <h2 class="text-center">Đăng ký</h2>
            <hr>
            <ng-container *ngIf="validationErrors">
                <div class="row mt-2">
                    <ul class="text-danger">
                        <ng-container *ngFor="let error of validationErrors">
                            <li>{{error}}</li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>

            <app-text-input
                [label]="'Tên đăng nhập'"
                [formControlName]="'userName'">
            </app-text-input>

            <app-text-input
                [label]="'Email'"
                [type]="'email'"
                [formControlName]="'email'">
            </app-text-input>

            <app-text-input
                [label]="'Nickname'"
                [formControlName]="'nickname'">
            </app-text-input>

            <app-text-input
                [label]="'số điện thoại'"
                [type]="'tel'"
                [formControlName]="'phoneNumber'">
            </app-text-input>

            <!-- <app-date-input
                [label]="'Ngày sinh'"
                [maxDate]="maxDate"
                [formControlName]="'dateOfBirth'">
            </app-date-input> -->

            <div class="mb-2">
                <div>
                    <label class="form-label">Giới tính</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="male" formControlName="gender">
                    <label class="form-check-label">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="female" formControlName="gender">
                    <label class="form-check-label">Nữ</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="unknown" formControlName="gender">
                    <label class="form-check-label">Không xác định</label>
                </div>
            </div>

            <app-text-input
                [label]="'Mật khẩu'"
                [type]="'password'"
                [formControlName]="'password'">
            </app-text-input>

            <app-text-input
                [label]="'Nhập lại mật khẩu'"
                [type]="'password'"
                [formControlName]="'confirmPassword'">
            </app-text-input>

            <div class="mb-2 text-center">
                <button class="btn btn-success me-2" type="submit" [disabled]="registerForm.invalid">
                    Đăng ký
                </button>
                <button class="btn btn-danger" type="button" routerLink="/">Hủy</button>
            </div>
            <div class="text-center">
                <p>Đã có tài khoản? <a class="text-info" routerLink="/login">Đăng nhập</a> ngay!</p>
            </div>
        </form>
    </div>
</div>