.no-underline {
    text-decoration: none;
}

.card:hover img {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
}

.card-title {
    cursor: pointer;
}