<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
            <h2 class="text-center">Đăng nhập</h2>
            <hr>
            <ng-container *ngIf="validationErrors">
                <div class="row mt-2">
                    <ul class="text-danger">
                        <ng-container *ngFor="let error of validationErrors">
                            <li>{{error}}</li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>

            <app-text-input
                [label]="'Tên đăng nhập'"
                [formControlName]="'userName'">
            </app-text-input>

            <app-text-input
                [label]="'Mật khẩu'"
                [type]="'password'"
                [formControlName]="'password'">
            </app-text-input>

            <div class="mb-2 text-center">
                <button type="submit" class="btn btn-success me-2" [disabled]="loginForm.invalid">
                    Đăng nhập
                </button>
                <button class="btn btn-danger" type="button" routerLink="/">Hủy</button>
            </div>
            <div class="text-center">
                <p>Chưa có tài khoản? <a class="text-info" routerLink="/register">Đăng ký</a> ngay!</p>
            </div>
        </form>
    </div>
</div>